<html>
<head>
	<title>One great iOS article every day.</title>
	<link href="css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="hero">
		<h1>ios.uno</h1>
		<h3>One great iOS article every day.</h3>

		<form action="http://blogitech.us1.list-manage.com/subscribe/post" method="POST" class="signup-form" name="signup">
			<!-- Mailchimp Setup -->
			<input type="hidden" name="u" value="3033daba049d386413bf6b843">
			<input type="hidden" name="id" value="4e60f7a87b">

			<label for="email"></label>
			<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="20" value="" placeholder="my@email.com" >
			<input type="submit" value="" />
		</form>
	</div>	

	<div class="break"></div>
	<h3>Today's Article</h3>
	<div class="article">
		<p><b>Constraint Magic</b> by Wes Smith</p>
		<p>
			This deep dive into constraints startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding freemium prototype ping pong. Early stage disruptive ecosystem community outreach dynamic location based strategic investor. 
		</p>
		<a href="">Read it at Wes' blog</a>
	</div>
	<div class="break"></div>
	<div class="curators">
		<h3>Curators</h3>
		<div class="curator-list">
			<div class="curator">
				<a href="http://twitter.com/chrismaddern" target="_blank">
					<img src="img/chris.jpg" style="curator-photo" />
					<p>Chris Maddern</p>
				</a>
			</div>
			<div class="curator">
				<a href="http://twitter.com/w5mith" target="_blank">
					<img src="img/wes.jpeg" style="curator-photo" />
					<p>Wes Smith</p>
				</a>
			</div>
			<div class="curator">
				<a href="http://twitter.com/lazerwalker" target="_blank">
					<img src="img/mike.png" style="curator-photo" />
					<p>Mike Walker</p>
				</a>
			</div>
			<div class="curator">
				<a href="#" target="_blank">
					<img src="img/unknown.jpg" style="curator-photo" />
					<p>You?</p>
				</a>
			</div>
		</div>
		<p>You can suggest articles by adding 'tip @ios.uno' on Twitter, or find out more about joining our team..</p>
	</div>

	<div class="footer">
		Copyright 2014, Chris Maddern
	</div>

	<!-- Load the Google Font last -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700' rel='stylesheet' type='text/css'>
</body>
</html>