body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	text-align:center;
	font-size:4em;
	font-weight:medium;
	margin-bottom: 20px;
}

h3 {
	text-align: center;
	margin-top:0px;
}


.hero {
	margin-top:15%;
	margin-bottom:16%;
}


.signup-form {
	text-align: center;
	margin-top:4em;
}

.signup-form label {
	font-size:2em;
}

.signup-form input[type="email"] {
	font-size:2em;
	text-align:center;
	border:1px solid #dedede;
}

.signup-form input[type="submit"] {
	border:none;
	background:none;
	background-image:url(../img/submit.png);
	width:34px;
	height:34px;
	background-size: contain;
	margin-left:0.5em;
}


/* Curator Block */

.curators {
	text-align: center;
	padding-right:20px;
	padding-left:20px;
}

.curator-list {
	max-width:680px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	margin-top:3em;
	margin-bottom:3em;
}

.curator {
	width:150px;
	height:150px;
	float:left;
	clear:none;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}

.curator a {
	text-decoration: none;
	color:black;
}

.curator img {
	width:110px;
	height:110px;
	border-radius: 60px;
	border:2px solid gray;
}


/* Articles */

.article {
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
	padding-right:20px;
}


.footer {
	text-align: center;
	margin-top:6em;
}

/** Utiltity Classes */

.break {
	width:80%;
	height:1px;
	background-color:#dedede;
	float: center;
	margin-left:auto;
	margin-right:auto;

	margin-top:5em;
	margin-bottom:1.5em;
}


@media (max-width: 600px) {
	.curator {
	width:120px !important;
	height:120px !important;
	float:left;
	clear:none;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:40px;
}

.curator img {
	width:90px !important;
	height:90px !important;
	border-radius: 90px !important;
	border:2px solid gray;
}

}